.desktop-only {
  display: block;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

.mobile-only {
  display: none;
  background-color: lightcoral;
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .desktop-only {
      display: none;
  }
  .mobile-only {
      display: block;
  }
}


